<h1 class="title">FUSION-CHARTS TIME SERIES DEMO</h1>
<!-- <fusioncharts
   [type]="type"
   [width]="width"
   [height]="height"
   [dataSource]="dataSource"
>
</fusioncharts> -->
<fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
</fusioncharts>